openapi: 3.0.3
info:
  title: alt-ITHI-OpenAPI-proposal
  description: |-
    Proposal REST API scheme for [ITHI](https://ithi.research.icann.org/index.html) by alt
  contact:
    email: alt@jj1lfc.dev
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT.html
  version: 0.0.1
externalDocs:
  description: Find out more about ITHI project
  url: https://ithi.research.icann.org/index.html
servers:
  - url: https://ithi.research.icann.org/api/v1
    description: Assumed prod server
  - url: http://localhost:4010/api/v1
    description: Prism mock server on docker

tags:
  - name: M1
    description: Inaccuracy of Whois Data

paths:
  /m1:
    get:
      description: Returns a list of M1 metrics.
      tags:
        - M1
      deprecated: true
      responses:
        200:
          $ref: "#/components/responses/listMetrics"
        400:
          $ref: "#/components/responses/badRequest"
        500:
          $ref: "#/components/responses/internalServerError"

components:
  schemas:
    availableData:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            example: 1
          date:
            type: string
            format: date
            example: 2023-10-01
  responses:
    listMetrics:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              metrics:
                type: string
                example: m111
              endpoint:
                type: string
                example: /m1/1/1
              availableData:
                $ref: "#/components/schemas/availableData"
    badRequest:
      description: Bad request
    internalServerError:
      description: Internal Server Error
