openapi: 3.0.3

info:
  title: alt-ITHI-OpenAPI-proposal
  description: |-
    Proposal REST API scheme for [ITHI](https://ithi.research.icann.org/index.html) by alt
  contact:
    email: alt@jj1lfc.dev
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT.html
  version: 0.1.0

externalDocs:
  description: Find out more about ITHI project
  url: https://ithi.research.icann.org/index.html

servers:
  - url: https://ithi.research.icann.org/api/v1
    description: Assumed prod server
  - url: http://localhost:4010
    description: Prism mock server on docker

tags:
  - name: List
    description: Endpoints that return requested resource list
  - name: Metric
    description: Endpoints that return specific metric data corresponds to the query

paths:
  /list/resource:
    get:
      description: |-
        Returns a list of available resource ID matching query.
        **This can be used only for Mn.n.n.n-like metrics.**
      tags:
        - List
      parameters:
        - name: metric
          in: query
          description: Specify the first class metrics ID (M1-M11, EAI)
          required: true
          schema:
            type: string
            example: M2
      deprecated: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    metric:
                      type: string
                      example: M2.1.1.1
                    available_data:
                      type: array
                      items:
                        type: object
                        properties:
                          date:
                            type: string
                            format: date
                            example: 2023-10-01
        400:
          $ref: '#/components/responses/badRequest'
        500:
          $ref: '#/components/responses/internalServerError'

  /metric/value:
    get:
      description: |-
        Returns metric value of specified metric and date.
        **This can be used only for Mn.n.n.n-like metrics.**
      tags:
        - Metric
      parameters:
        - name: metric
          in: query
          description: Specify the metric ID.
          required: true
          schema:
            type: string
            example: M2.1.1.1
        - name: date
          in: query
          description: Specify the date observed.
          required: true
          schema:
            type: string
            format: date
            example: 2023-10-01
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: number
                    example: 4.79
        400:
          $ref: '#/components/responses/badRequest'
        500:
          $ref: '#/components/responses/internalServerError'

components:
  responses:
    badRequest:
      description: Bad request
    internalServerError:
      description: Internal Server Error
